@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cormorant Garamond', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --size: 10rem;
}

h1 {
  --fluid-type-min-size: calc(30 / var(--item-total));
  --fluid-type-max-size: calc(60 / var(--item-total));
  --fluid-type-min-screen: 20;
  --fluid-type-max-screen: 60;
  /* font-size: calc( (var(--fluid-type-min-size) * 1rem) + (var(--fluid-type-max-size) - var(--fluid-type-min-size)) * (100vw - (var(--fluid-type-min-screen) * 1rem)) / (var(--fluid-type-max-screen) - var(--fluid-type-min-screen)) ); */
  font-size: 16px;
  font-weight: 800;
  font-family: 'Sora';
  color: #22262A;
  /* letter-spacing: 1rem; */
  width: var(--size);
  height: var(--size);
  max-width: 45rem;
  max-height: 45rem;
  position: relative;
  border-radius: 50%;
}

.item {
  --units: 1;
  --l: calc(var(--item-total) + 1);
  /* --rotationUnit: calc((1turn / var(--l)) * var(--item-index, 1) - 0.235turn); */
  --rotationUnit: calc(0.1turn * var(--item-index, 1) - 0.235turn);
  transform: rotate(var(--rotationUnit));
  transform-origin: center;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  top: 0.25rem;
  left: 0.25rem;
  text-align: center;
  display: block !important;
  position: absolute !important;
}
.char::before, .char::after {
  display: none;
}

@layer utilities {
  @variants responsive, hover, group-hover, focus {
    .circle-clip-36 {
      clip-path: circle(360px at center);
    }
    .circle-clip-0 {
      clip-path: circle(0px at center);
    }

    .scrollbar-title {
      font-size: 22px;
      line-height: 2.5rem;
      background: -webkit-linear-gradient(bottom, #FFC6CE, #64D6EE);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Cormorant Garamond';
      font-weight: bolder;
      writing-mode: vertical-lr;
      -webkit-font-smoothing: antialiased;
    }
  }
}
